<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pandoc" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>David Buckley</title>
  <style>
    code{white-space: pre-wrap;}
    span.smallcaps{font-variant: small-caps;}
    div.columns{display: flex; gap: min(4vw, 1.5em);}
    div.column{flex: 1;}
    div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
    ul.task-list{list-style: none;}
    ul.task-list li input[type="checkbox"] {
      width: 0.8em;
      margin: 0 0.8em 0.2em -1.6em;
      vertical-align: middle;
    }
    .display.math{display: block; text-align: center; margin: 0.5rem auto;}
  </style>
  <link rel="stylesheet" href="/blog.css" />
</head>
<body>
  <div id="corner">
    <a id="home" href="/home.html">Home</a>
    <a id="term" href="/">Back to the Shell</a>
  </div>
  <h2>Blog Posts</h2>
  <ul>
  {% for href, title in navigation %}
    <li><a href="{{ href }}">{{ title }}</a></li>
  {% endfor %}
  </ul>
  <h2>"Incantations"</h2>
  <p>Short articles focused on showcasing some specific, useful, copy/pastable thing.</p>
  <ul>
  {% for href, title in incantations %}
    <li><a href="{{ href }}">{{ title }}</a></li>
  {% endfor %}
  </ul>
  <p>Also I have an <a href="/about.html">about</a> page, just like everyone else on the internet.</p>
</body>
</html>
